<a href="https://colab.research.google.com/github/tomonari-masada/course2022-sml/blob/main/nearest_neighbors_appendix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# k近傍法のAppendix

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'

* lifesat_extended.csvをアップロードする。

In [2]:
from google.colab import files
files.upload()

Saving lifesat_extended.csv to lifesat_extended (1).csv

{'lifesat_extended.csv': b'Country,Air pollution,Assault rate,Consultation on rule-making,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Homicide rate,Household net adjusted disposable income,Household net financial wealth,Housing expenditure,Job security,Life expectancy,Life satisfaction,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GDP per capita\nRussia,15.0,3.8,2.5,15.1,94.0,0.16,69.0,12.8,19292.0,3412.0,11.0,4.0,70.2,6.0,1.7,20885.0,90.0,0.9,37.0,481.0,14.97,65.0,56.0,16.0,9054.914\nTurkey,35.0,5.0,5.5,12.7,34.0,40.86,50.0,1.2,14095.0,3251.0,21.0,8.1,74.6,5.6,2.37,16919.0,86.0,1.1,68.0,462.0,13.42,88.0,62.0,16.4,9437.372\nHungary,15.0,3.6,7.9,4.8,82.0,3.19,58.0,1.3,15442.0,13277.0,20.0,5.7,75.2,4.9,5.1,20948.0,87.0,1.1,57.0,487.0,15.04,62.0,77.0,17.6,12239.893999999998\nPoland,33.0,1.4,10.8,3.2,90.0,7.41,60.0,0.9,17852.0,10919.0,21.0,7.3,76.9,5.8,3.77,22655.0,91.0,1.1,58.0,521.0,14.2,55.0,79.0,18.4,12495.333999999999\nSlovak Republic,13.0,3.0,6.6,0.6,92.0,7.02,60.0,1.2,17503.0,8663.0,26.0,5.5,76.2,6.1,9.46,20307.0,90.0,1.1,66.0,472.0,14.99,59.0,81.0,16.3,15991.736\nEstonia,9.0,5.5,3.3,8.1,90.0,3.3,68.0,4.8,15167.0,7680.0,19.0,5.2,76.5,5.6,3.82,18944.0,89.0,1.5,54.0,526.0,14.9,64.0,79.0,17.5,17288.083\nGreece,27.0,3.7,6.5,0.7,68.0,6.16,49.0,1.6,18575.0,14579.0,25.0,12.2,80.7,4.8,18.39,25503.0,83.0,1.2,74.0,466.0,14.91,64.0,69.0,18.6,18064.288\nPortugal,18.0,5.7,6.5,0.9,38.0,9.62,61.0,1.1,20086.0,31245.0,19.0,8.6,80.5,5.1,9.11,23688.0,86.0,1.6,46.0,488.0,14.95,58.0,86.0,17.6,19121.592\nSlovenia,26.0,3.9,10.3,0.5,85.0,5.63,63.0,0.4,19326.0,18465.0,20.0,5.5,80.2,5.7,5.15,32037.0,90.0,1.5,65.0,499.0,14.62,52.0,88.0,18.4,20732.482\nSpain,24.0,4.2,7.3,0.1,55.0,5.89,56.0,0.6,22477.0,24774.0,22.0,17.8,82.5,6.5,12.96,34824.0,95.0,1.9,72.0,490.0,16.06,69.0,71.0,17.6,25864.721\nKorea,30.0,2.1,10.4,4.2,82.0,18.72,64.0,1.1,19510.0,29091.0,16.0,3.2,81.3,5.8,0.01,36354.0,72.0,1.4,35.0,542.0,14.63,76.0,78.0,17.5,27195.197\nItaly,21.0,4.7,5.0,1.1,57.0,3.66,56.0,0.7,25166.0,54987.0,24.0,5.9,82.3,6.0,6.94,34561.0,90.0,1.4,66.0,490.0,14.98,75.0,71.0,16.8,29866.581000000002\nJapan,24.0,1.4,7.3,6.4,94.0,22.26,72.0,0.3,26111.0,86764.0,22.0,2.4,83.2,5.9,1.67,35405.0,89.0,1.8,30.0,540.0,14.93,53.0,85.0,16.3,32485.545\nIsrael,21.0,6.4,2.5,3.7,85.0,16.03,67.0,2.3,22104.0,52933.0,21.0,5.0,81.8,7.4,0.79,28817.0,87.0,1.2,80.0,474.0,14.48,68.0,68.0,15.8,35343.336\nNew Zealand,11.0,2.2,10.3,0.2,74.0,13.87,73.0,1.2,23815.0,28290.0,23.0,5.1,81.5,7.3,0.75,35609.0,94.0,2.4,90.0,509.0,14.87,77.0,89.0,18.1,37044.891\nFrance,12.0,5.0,3.5,0.5,73.0,8.15,64.0,0.6,28799.0,48741.0,21.0,6.5,82.1,6.5,3.99,40242.0,87.0,1.8,67.0,500.0,15.33,80.0,82.0,16.4,37675.006\nBelgium,21.0,6.6,4.5,2.0,72.0,4.57,62.0,1.1,28307.0,83876.0,21.0,5.0,80.5,6.9,3.88,48082.0,94.0,2.2,74.0,509.0,15.71,89.0,87.0,18.9,40106.632000000005\nGermany,16.0,3.6,4.5,0.1,86.0,5.25,73.0,0.5,31252.0,50394.0,21.0,3.1,81.0,7.0,2.37,43682.0,94.0,1.8,65.0,515.0,15.31,72.0,95.0,18.2,40996.511\nFinland,15.0,2.4,9.0,0.6,85.0,3.58,69.0,1.4,27927.0,18761.0,22.0,6.9,80.7,7.4,1.73,40060.0,95.0,1.9,65.0,529.0,14.89,69.0,94.0,19.7,41973.988\nCanada,15.0,1.3,10.5,0.2,89.0,3.94,72.0,1.5,29365.0,67913.0,21.0,6.4,81.5,7.3,0.9,46911.0,92.0,2.5,89.0,522.0,14.25,61.0,91.0,17.2,43331.960999999996\nNetherlands,30.0,4.9,6.1,0.0,73.0,0.45,74.0,0.9,27888.0,77961.0,19.0,4.5,81.2,7.3,2.4,47590.0,90.0,2.0,76.0,519.0,15.44,75.0,92.0,18.7,43603.115\nAustria,27.0,3.4,7.1,1.0,83.0,7.61,72.0,0.4,31173.0,49887.0,21.0,3.9,81.0,6.9,1.19,45199.0,89.0,1.6,69.0,500.0,14.46,75.0,94.0,17.0,43724.030999999995\nUnited Kingdom,13.0,1.9,11.5,0.2,78.0,12.7,71.0,0.3,27029.0,60778.0,23.0,5.2,81.0,6.8,2.77,41192.0,91.0,1.9,74.0,502.0,14.83,66.0,88.0,16.4,43770.687999999995\nSweden,10.0,5.1,10.9,0.0,88.0,1.13,74.0,0.7,29185.0,60328.0,20.0,6.5,81.8,7.2,1.37,40818.0,92.0,1.7,81.0,482.0,15.11,86.0,95.0,19.3,49866.265999999996\nIceland,18.0,2.7,5.1,0.4,71.0,12.25,82.0,0.3,23965.0,43045.0,24.0,4.1,83.0,7.5,1.18,55716.0,96.0,1.5,77.0,484.0,14.61,81.0,97.0,19.8,50854.583\nAustralia,13.0,2.1,10.5,1.1,76.0,14.02,72.0,0.8,31588.0,47657.0,20.0,4.8,82.1,7.3,1.08,50449.0,92.0,2.3,85.0,512.0,14.41,93.0,91.0,19.4,50961.865\nIreland,13.0,2.6,9.0,0.2,75.0,4.2,60.0,0.8,23917.0,31580.0,19.0,5.9,81.0,7.0,8.39,49506.0,96.0,2.1,82.0,516.0,15.19,70.0,80.0,17.6,51350.744000000006\nDenmark,15.0,3.9,7.0,0.9,78.0,2.03,73.0,0.3,26491.0,44488.0,24.0,5.6,80.1,7.5,1.78,48347.0,95.0,1.9,72.0,498.0,16.06,88.0,94.0,19.4,52114.165\nUnited States,18.0,1.5,8.3,0.1,89.0,11.3,67.0,5.2,41355.0,145769.0,18.0,5.9,78.7,7.2,1.91,56340.0,90.0,2.4,88.0,492.0,14.27,68.0,85.0,17.2,55805.204000000005\n'}

In [3]:
df = pd.read_csv('lifesat_extended.csv', index_col=0)

* 日本をtest setとして除外し、残りのデータ集合を使う。
 * 日本の生活満足度を予測することを、最終的な目標としたのだった。

In [4]:
df_test = df.loc[['Japan']]
df = df.drop(['Japan'])

In [5]:
X = df[['GDP per capita', 'Employment rate']]
y = df['Life satisfaction']

* 演習問題5-3: 韓国の生活満足度を予測し、最も良い予測値を与えるkを調べよう。

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scaled = X.copy()
X_scaled[X.columns] = scaler.fit_transform(X)

* 国どうしの距離を保存しておくためのデータフレーム`X_dist`を、`X`をコピーして作っておく。

In [7]:
X_dist = X.copy()

* 韓国と、他の国一つ一つとの距離を求めて、`X_dist`の`dist Korea`という列に保存する。

In [8]:
country = 'Korea'
X_dist['dist ' + country] = np.linalg.norm(X_scaled - X_scaled.loc[country], axis=1)

In [9]:
X_dist

                 GDP per capita  Employment rate  dist Korea
Country
Russia                 9054.914             69.0    0.416558
Turkey                 9437.372             50.0    0.569441
Hungary               12239.894             58.0    0.367957
Poland                12495.334             60.0    0.336988
Slovak Republic       15991.736             60.0    0.268555
Estonia               17288.083             68.0    0.244132
Greece                18064.288             49.0    0.494731
Portugal              19121.592             61.0    0.195163
Slovenia              20732.482             63.0    0.141521
Spain                 25864.721             56.0    0.244089
Korea                 27195.197             64.0    0.000000
Italy                 29866.581             56.0    0.249068
Israel                35343.336             67.0    0.196575
New Zealand           37044.891             73.0    0.344629
France                37675.006             64.0    0.224166
Belgium               40106.632             62.0    0.282750
Germany               40996.511             73.0    0.401909
Finland               41973.988             69.0    0.350557
Canada                43331.961             72.0    0.421795
Netherlands           43603.115             74.0    0.463688
Austria               43724.031             72.0    0.428685
United Kingdom        43770.688             71.0    0.413163
Sweden                49866.266             74.0    0.571834
Iceland               50854.583             82.0    0.744068
Australia             50961.865             72.0    0.563218
Ireland               51350.744             60.0    0.530720
Denmark               52114.165             73.0    0.598743
United States         55805.204             67.0    0.618690

* 韓国に近い順に、国をソートする。

In [10]:
sorted_indices = X_dist.sort_values('dist ' + country).drop(country).index
print(sorted_indices)

Index(['Slovenia', 'Portugal', 'Israel', 'France', 'Spain', 'Estonia', 'Italy',
       'Slovak Republic', 'Belgium', 'Poland', 'New Zealand', 'Finland',
       'Hungary', 'Germany', 'United Kingdom', 'Russia', 'Canada', 'Austria',
       'Netherlands', 'Greece', 'Ireland', 'Australia', 'Turkey', 'Sweden',
       'Denmark', 'United States', 'Iceland'],
      dtype='object', name='Country')

* 近傍の個数`k`を動かしながら、予測誤差を求める。

In [11]:
errors = []
for k in range(1, len(X_scaled)):
  error = abs(y[country] - y[sorted_indices[:k]].mean())
  errors.append(error)
  print(f'\tk={k} error={error:.3f}')

	k=1 error=0.100
	k=2 error=0.400
	k=3 error=0.267
	k=4 error=0.375
	k=5 error=0.440
	k=6 error=0.333
	k=7 error=0.314
	k=8 error=0.313
	k=9 error=0.400
	k=10 error=0.360
	k=11 error=0.464
	k=12 error=0.558
	k=13 error=0.446
	k=14 error=0.500
	k=15 error=0.533
	k=16 error=0.513
	k=17 error=0.571
	k=18 error=0.600
	k=19 error=0.647
	k=20 error=0.565
	k=21 error=0.595
	k=22 error=0.636
	k=23 error=0.600
	k=24 error=0.633
	k=25 error=0.676
	k=26 error=0.704
	k=27 error=0.741

* 韓国の生活満足度予測について、最も小さい予測誤差を与えるkを求める。

In [12]:
k = np.array(errors).argmin() + 1
print(f'When k={k}, we obtain the smallest prediction error for {country}.')

When k=1, we obtain the smallest prediction error for Korea.

* ドイツについて同じことをしてみる。

In [13]:
country = 'Germany'
X_dist['dist ' + country] = np.linalg.norm(X_scaled - X_scaled.loc[country], axis=1)
sorted_indices = X_dist.sort_values('dist ' + country).drop(country).index
errors = []
for k in range(1, len(X_scaled)):
  error = abs(y[country] - y[sorted_indices[:k]].mean())
  errors.append(error)
k = np.array(errors).argmin() + 1
print(f'When k={k}, we obtain the smallest prediction error for {country}.')

When k=17, we obtain the smallest prediction error for Germany.